@model AnimeResource.Models.comment

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>comment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.anime.nameanim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anime.nameanim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_comment }) |
    @Html.ActionLink("Back to List", "Index")
</p>
