@model AnimeResource.Models.users_anime

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>users_anime</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.anime.nameanim)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.anime.nameanim)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.user.login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.user.login)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
