@model AnimeResource.Models.whatch_seasons

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>whatch_seasons</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.serii.link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.serii.link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.users_anime.id_user)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.users_anime.id_user)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wotch)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wotch)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
